body{
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#root{
  width: 350px;
}

.counter-app{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.43);
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

h3{
  margin: 0;
  border-bottom: 1px solid rgb(216, 216, 216);
  width: 100%;
  padding-bottom: 0.3rem;
  text-align: center;
  color: rgb(41, 41, 41);
}

span {
  padding: 1rem;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 1rem;
  width: 85%;
  text-align: center;
}

button{
  border: 1px solid rgb(108, 61, 151);
  width: 100%;
  padding: 0.5rem;
  outline: none;
  font-weight: bolder;
  border-radius: 0.5rem;
}

button:hover{
  cursor: pointer;
}
.increment{
  background-color:rgb(108, 61, 151) ;
  color: #fafafa;
}

.decrement{
  background-color: transparent;
  color: rgb(108, 61, 151);
}